# /etc/systemd/system/crophound.timer
[Unit]
Description=crophound timer
After=network-online.target

[Timer]
hourly
OnCalendar=*-*-* 23:55

[Install]
WantedBy=timers.target
